<div class="card mt-4">
  <div class="card-header py-1 d-flex justify-content-between">
    <h5 class="card-title"><%= post.user.name%></h5>
    <% if post.user == current_user%>
      <div class="header-buttons">
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-primary" %>
        <%= link_to "Delete", post_path(post), method: "delete", class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
  <div class="card-body mt-0">
    <p class="card-text"><%= post.body %></p>
  </div>
  <div class="card-footer d-flex">
    <% unless post.likes.where("user_id = #{current_user.id}").exists? %>
      <%= form_with url: likes_path, method: 'post' do |form| %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.submit "Like", class: "btn btn-primary mt-2 mr-2" %>
      <% end %>
    <% else %>
      <%= form_with url: like_path(post), method: 'delete' do |form| %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.submit "Like", class: "btn btn-primary mt-2 mr-2" %>
      <% end %>
    <% end %>
    <button class="btn btn-secondary mt-2 mr-2">Comment</button>
   
    <% if post.likes.any? %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        likes
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Likes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <% post.likes.each do |like| %>
                  <li class="list-group-item">
                    <%= link_to like.user.name, profile_path(like.user.profile) %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
