<div class="card mt-4">
  <div class="card-header py-1 d-flex justify-content-between">
    <h5 class="card-title"><%= post.user.name%></h5>
    <% if post.user == current_user%>
      <div class="header-buttons">
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-primary" %>
        <%= link_to "Delete", post_path(post), method: "delete", class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
  <div class="card-body mt-0">
    <p class="card-text"><%= post.body %></p>
  </div>
  <div class="card-footer container">
    <div class="row">
      <% unless post.likes.where("user_id = #{current_user.id}").exists? %>
        <%= link_to 'Like',
          post_likes_path(post),
          method: 'post',
          class: 'btn btn-primary' 
        %>
      <% else %>
        <% like = post.likes.where("user_id = #{current_user.id}").first%>
        <%= link_to 'Unlike',
          post_like_path(post, like.id),
          method: 'delete',
          class: 'btn btn-info' 
        %>
      <% end %>
      
      <% if post.likes.any? %>
        <%= link_to "#{post.likes.length} likes", post_likes_path(post), class: 'btn btn-primary btn-sm rounded-circle' %>
      <% end %>
    </div>
    <div class="row mt-2">
      
      <%= render partial: 'new_comment', locals: {post_id: post.id} %>
      <h5 class="mt-2 ">Comments</h5>
      <%= render partial: 'comment', collection: post.comments %>
    </div>
  </div>
</div>
