<div class="card mt-4">
  <div class="card-header py-1 d-flex justify-content-between">
    <div></div>
    <h5 class="card-title">
      <img src=<%= post.user.profile.photo %> width="30px" height="30px">
      <%= link_to post.user.name, post.user.profile %>
    </h5>
    <% if post.user == current_user%>
      <div class="header-buttons">
        <%= link_to edit_post_path(post) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to post_path(post), method: "delete" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% else %>
      <div></div>
    <% end %>
  </div>
  <div class="card-body mt-0">
    <p class="card-text"><%= post.body %></p>
  </div>
  <div class="card-footer container">
    <div class="row">
      <div class="col-12">
        <% unless @user_liked_posts_ids.include?(post.id) %>
          <%= link_to 'Like',
            post_likes_path(post),
            method: 'post',
            class: 'btn btn-outline-secondary ' 
          %>
        <% else %>
          <% like = post.likes.find_by(user_id: current_user.id) %>
          <%= link_to 'Like',
            post_like_path(post, like.id),
            method: 'delete',
            class: 'btn btn-outline-primary' 
          %>
        <% end %>
        
        <% if post.likes.any? %>
          <%= link_to post_likes_path(post) do %>
            <span class="btn btn-primary btn-sm rounded-circle">
              <i class="far fa-thumbs-up"></i>
            </span>
            <%= post.likes.length %> 
          <% end%>
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <%= render partial: 'new_comment', locals: {commentable_id: post.id, commentable_type: "Post"} %>
      <h5 class="col-12 mt-2">Comments</h5>
      <div class="col-12 mt-2">
        <%= render partial: 'comment', collection: post.comments %>
      </div>
    </div>
  </div>
</div>
