<div class="card mt-4 col-lg-4">
  <div class="card-header py-1 d-flex justify-content-between">
    <div></div>
    <div class="text-center">
      <img src=<%= @profile.photo %> width="200px" height="200px" style="border-radius: 50%">
      <h5 class="card-title"><%= @profile.user.name%></h5>
    </div>
    <div class="header-buttons">
      <%if current_user == @profile.user %>
        <%= link_to "Edit", edit_profile_path, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
  <div class="card-body mt-0">
    <ul class="list-group">
      <li class="list-group-item">Birthday: <%= @profile.birthday %></li>
      <li class="list-group-item">Country: <%= @profile.country %></li>
      <li class="list-group-item">City: <%= @profile.city %></li>
      <li class="list-group-item">Email: <%= @profile.user.email %></li>
    </ul>
  </div>
</div>