<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    
    <% if user_signed_in? %>
      <div>
        <%= link_to "Fakebook", root_path, class: "navbar-brand h1" %>
        <span class= "navbar-text">Hello <%= current_user.name %></span>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", profile_path(current_user.profile), class: "nav-link active" %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notifications 
            <% if current_user.pending_friend_requests.any? %>
              <sup><strong><%= current_user.pending_friend_requests.length %></strong></sup>
            <% end %>
          </a>
          <ul class="dropdown-menu px-4" aria-labelledby="navbarDropdownMenuLink">
            <% current_user.pending_friend_requests.each do |request| %>
            <li>
              <strong><%=request.sender_friend.name %></strong> has send you an
              <%= link_to "invitation", friend_requests_path %>
            </li>
            <% end %>
          </ul>
        </li>
        
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
        </li>
        
      </ul>
    <% end %>
  </div>
</nav>